/*Rubén Torres*/
   
    
*{
	padding: 0px;
	margin: 0px;
}

body{
	font-family: Arial;
	font-size: 16px;
	background-color: #1C1C1C;
}


/****CABECERA****/

#cabecera{
	background-color: #1C1C1C;
    width: 1280px;
    margin: auto;
}

header{
	background-color: #111;
	font-family: Arial;
	overflow: hidden;
	position: sticky;
	top: 0;
	z-index: 1;
    box-shadow: 0px 0px 30px black;
}

header span{
	float: right;
}

nav{
	width: 1280px;
	margin: auto;
	font-size: 17px;
}

nav a{
	text-decoration: none;
	color: white;
	text-align: center;
	float: left;
	padding: 20px;
}

nav a:hover{
	background-color: #B1AF1A;
	color: black;
}

#seleccionado{
	background-color: #EDEA21;
	color: black;
}

#seleccionado:hover{
	background-color: #B1AF1A;
	color: black;
}


/****PRINCIPAL****/

#principal{
    width: 1100px;
    margin: auto;
}

#principal h1{
	margin-top: 70px;
	margin-bottom: 40px;
	color: #EDEA21;
	font-size: 40px;
}


/**SECUNDARIO**/

#secundario{
    width: 1100px;
    margin-top: 60px;
}



/****TABLAS****/

table{
    color: white;
    width: 1080;
}

caption{
    text-align: left;
    font-size: 50px;
    margin-bottom: 40px;
    color: #EDEA21;
    font-weight: bold;
}

/**TABLA 1**/

#tabla1{
    margin-left: 20px;
    margin-top: 80px;
}

#imagentabla{
    width: 500px;
}

#imagentabla img{
    width: 500px;
    height: 330px;
    border: 2px solid black;
    box-shadow: 0px 0px 20px black;
}


/**TABLA 1.1**/

#subtabla{
    border: 2px solid black;
    height: 330px;
    width: 350px;
    margin: auto;
    padding: 30px;
    background-color: #292929;
}

.precio{
    vertical-align: top;
}

#precio1{
    height: 50px;
    font-size: 30px;
    padding-left: 78px;
}

#precio2{
    font-size: 50px;
    text-align: center;
    color: #EDEA21;
}

#hr{
    height: 20px;    
}

table hr{
    width: 75%; 
    border: 1px solid #5D5D5D;
}

.valoracion{
    text-align: center;
    height: 30px;
}

.valoracion img{
    width: 180px;
    margin-bottom: 20px;
    height: 36px;
}

#comprar a{
    text-decoration: none;	
	color: black;
	font-size: 15px;
}

#comprar div{
    width: 250px;
	padding: 15px;
	background-color: #FFFFF6;
	display: flex;
    margin: auto;
}

#comprar div:hover{
    box-shadow: 0px 0px 20px black;
	background-color: #EEEEE7;
}

#comprar img{
    width: 35px;
}

#comprar span{
    padding-top: 9px;
    padding-left: 42px;
}

#comprarcenter a{
    text-decoration: none;	
	color: black;
	font-size: 15px;
}

#comprarcenter div{
    width: 250px;
	padding: 15px;
	background-color: #FFFFF6;
	display: flex;
    margin: auto;
}

#comprarcenter div:hover{
    box-shadow: 0px 0px 20px black;
	background-color: #EEEEE7;
}

#comprarcenter img{
    width: 35px;
}

#comprarcenter span{
    padding-top: 8px;
    padding-left: 9px;
}



/**TABLA 2**/

#relacionado{
    width: 1000px;
    margin: auto;
    border-collapse: separate;
    border-spacing: 20px 5px;
}

#relacionado a{
    text-decoration: none;
    color: white;
    width: 18%;
}

#relacionado td{
    background-color: #111;
    border: 2px solid black;
    width: 18%;
    height: 280px;
    vertical-align: top;
	transition: all 500ms ease;
}

#relacionado td:hover{
    box-shadow: 0px 0px 20px black;
    transform:translate(0px,-30px);
	transition: all 500ms ease;
}

#relacionado img{
    width: 221px;
    height: 165px;
}

#relacionado p{
    height: 100px;
    text-align: center;
    font-size: 20px;
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
}



/**TABLA 3**/

#tabla3{
    width: 900px;
    margin: auto;
    font-size: 20px;
}

#tabla3 p{
    margin-bottom: 80px;
}



/****IMAGENES****/

#logo1{
	width: 250px;
	padding: 8px; 
	transition: all 500ms ease;
}

#logofooter{
	display: block;
	margin: auto;
	width: 250px;
	transition: all 500ms ease;
}

#logofooter:hover{
    filter: drop-shadow(0 0 0.25rem #FFFB00);  
	transition: all 500ms ease;
}

#iframe{
    display: block;
    margin: auto;
    width: 1068px;
}

iframe{
    width: 100%;
    height: 600px;
    margin-top: 60px;
    margin-bottom: 60px;
    box-shadow: 0px 0px 30px black;
    
}


/****FOOTER****/

footer{
	margin-top: 50px;
	bottom: 0px;
}

hr{
	border: 2px solid #EDEA21;
	width: 1280px;
	margin: auto;
}

footer h1{
	text-align: center;
	margin-top: 40px;
	color: #EDEA21;
}

.div1{
	display: flex;
	justify-content: center;
}

.div1 > a{
	padding: 40px;
}

footer div img{
	width: 50px;
	filter: grayscale(100%);
}

footer div img:hover{
	filter: grayscale(0%);
    filter: drop-shadow(0 0 0.5rem black);  
}

footer #div2{
	font-size: 20px;
	background-color: #111;
	color: #9E9999;
	margin-top: 20px;
}

#div3{
	padding: 16px;
	width: 1280px;
	margin: auto;
}

footer a{
	text-decoration: none;
	color: #EDEA21;
}

footer a:hover{
	color: #595353;
}

#div3 span{
	float: right;
}

#div3 span > a{
	color: #9E9999;
}

#div3 span > a:hover{
	color: #595353;
}