/*Rubén Torres*/

*{
	padding: 0px;
	margin: 0px;
}

body{
	font-family: Arial;
	font-size: 16px;
	background-color: #1C1C1C;
}


/****CABECERA****/

#cabecera{
	background-color: #1C1C1C;
    width: 1280px;
    margin: auto;
}

header{
	background-color: #111;
	font-family: Arial;
	overflow: hidden;
	position: sticky;
	top: 0;
	z-index: 1;
    box-shadow: 0px 0px 30px black;
}

header span{
	float: right;
}

nav{
	width: 1280px;
	margin: auto;
	font-size: 17px;
}

nav a{
	text-decoration: none;
	color: white;
	text-align: center;
	float: left;
	padding: 20px;
}

nav a:hover{
	background-color: #B1AF1A;
	color: black;
}


/****PRINCIPAL****/

#principal{
	width: 1280px;
	color: white;
	margin: auto;
	font-size: 20px;
	text-align: justify;
}

#principal h1{
	margin-top: 60px;
	margin-left: 20px;
}

#principal p{
	margin-top: 15px;
	margin-left: 30px;
}

#principal p > span{
	font-weight: bold;
}

#principal ul{
	margin-top: 10px;
	margin-left: 80px;
	list-style-type: square;
}


/****IMAGENES****/

#logo1{
	width: 250px;
	padding: 8px; 
}

#logofooter{
	display: block;
	margin: auto;
	width: 250px;
}

#logofooter:hover{
    filter: drop-shadow(0 0 0.25rem #FFFB00);  
	transition: all 500ms ease;
}


/****FOOTER****/

footer{
	margin-top: 50px;
	bottom: 0px;
}

hr{
	border: 2px solid #EDEA21;
	width: 75%;
	margin: auto;
}

footer h1{
	text-align: center;
	margin-top: 40px;
	color: #EDEA21;
}

.div1{
	display: flex;
	justify-content: center;
}

.div1 > a{
	padding: 40px;
}

footer div img{
	width: 50px;
	filter: grayscale(100%);
}

footer div img:hover{
	filter: grayscale(0%);
    filter: drop-shadow(0 0 0.5rem black);  
}

footer #div2{
	font-size: 20px;
	background-color: #111;
	color: #9E9999;
	margin-top: 20px;
}

#div3{
	padding: 16px;
	width: 1280px;
	margin: auto;
}

footer a{
	text-decoration: none;
	color: #EDEA21;
}

footer a:hover{
	color: #595353;
}

#div3 span{
	float: right;
}

#div3 span > a{
	color: #9E9999;
}

#div3 span > a:hover{
	color: #595353;
}